*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.logo{
    width: 50%;
    height: 100%;
    background-color: #fbfbfb;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}
.menu{
    background: yellow;
    width: 50%;
    height: 100%;
}

.menu__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.menu__ul li{
    list-style: none;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one {
    background-color: #efeff6;
}

.two {
    background-color: #dcdcec;
}

.three {
    background-color: #cbcae3;
    
}